/build/
/gradle/
/.gradle/
/.idea/

/app/build/
/app/src/arts/

gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
*.iml
.classpath
.project
.pydevproject
.settings

src/tools/BrightestStarsCatalogue_B50_1991/src/catalog*

/bin/
